<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Health</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Health.styles.css" asp-append-version="true" />
    <style>
        .dropbtn {
            background-color: transparent;
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: transparent;
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: transparent;
        }

        a {
            font-size: 16px;
            font-family: 'Open Sans';
            padding-left:15px;
            padding-top: 24px;
        }
        h5{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            ㅤㅤㅤ
            <img src="/lib//images/logoo.png">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Index">Начало</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index#about" data-hover="Learn More">За нас</a>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="dropbtn nav-link">Здравен статус</button>
                                <div class="dropdown-content">
                                    <a class="nav-link" asp-action="Biorhythms" asp-controller="Health">Биоритмичен хороскоп</a>
                                    <a class="nav-link" asp-action="BMI" asp-controller="Health">Индекс на телесна маса (ИТМ)</a>
                                    <a class="nav-link" asp-action="Calories" asp-controller="Health">Изгорени калории</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Health/Illness">Болести</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Topics">Актуална тема</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index#reviews">Новини</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index#contact">Контакти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
