
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/css/owl.carousel.min.css" rel="stylesheet">

    <link href="/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="/css/templatemo-medic-care.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Clean Blog - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
</head>

<body>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <br />
                        <h1>Актуални теми</h1>
                        <span class="subheading">Най-актуалните здравни теми при тийнейджърите</span>
                        <hr class="my-4" />
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/Health/grubnachno_izkrivqvane">
                        <h2 class="post-title">Неправилната стойка е първият сигнал за гръбначно изкривяване</h2>
                        <h3 class="post-subtitle">Гръбначното изкривяване при тийнейджърите</h3>
                    </a>
                    <p class="post-meta">
                        Публикувано на
                        10.05.2024
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/Health/suvremenni_akcenti_na_zdravnoto_vuzpitanie_i_obrazovanie_v_bulgarskoto_uchilishte"><h2 class="post-title">СЪВРЕМЕННИ АКЦЕНТИ НА ЗДРАВНОТО ВЪЗПИТАНИЕ И ОБРАЗОВАНИЕ В БЪЛГАРСКОТО УЧИЛИЩЕ</h2></a>
                    <p class="post-meta">
                        Публикувано на
                        10.04.2024
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/Health/lipsata_na_dvijenie_se_otrazqva_neblagopriqtno_na_zdraveto_na_podrastvashtite">
                        <h2 class="post-title">Липсата на движение се отразява неблагоприятно на здравето на подрастващите</h2>
                        <h3 class="post-subtitle">Тийнейджърите водят все по заседнал начин на живот</h3>
                    </a>
                    <p class="post-meta">
                        Публикувано на
                        24.08.2023
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">Failure is not an option</h2>
                        <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on July 8, 2023
                    </p>
                </div>
                <hr class="my-4" />
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>
</html>
