<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/css/owl.carousel.min.css" rel="stylesheet">

    <link href="/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="/css/templatemo-medic-care.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Clean Blog - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-8">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">
                            Неправилната стойка е първият сигнал за гръбначно изкривяване
                        </h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Публикувано на 10.05.2024 от Администратор</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Изкривявания</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Правилна стойка</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://www.system-concepts.com/wp-content/uploads/2021/11/Back-Care-Awareness-2.jpg" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">Неправилната стойка при подрастващите, особено в училищна възраст, е все по-често срещан проблем. Кога обаче говорим за гръбначни изкривявания, какви видове биват и има ли симптоми, които да ни подскажат, че е време да обърнем по-сериозно внимание на проблема. .Добре е да знаем, че „правилна стойка“  не означава непременно “прав гръб”. Нормалната и здрава костна структура при децата трябва да има т. нар “физиологични криви ” или S образна извивка. Две от тях детето има още при раждането си, другите две се формират едва след прохождането. Когато обаче тази S образна извивка е прекалено голяма или гръбначният стълб има градусово изменение наляво или надясно, може да се касае за проблем.</p>
                        <p class="fs-5 mb-4">
                            Не редки са случаите, при които нарушаване в правилната стойка на детето настъпват не от слабост на мускулатурата, а от спадане на сводът на стъпалото.
                            Придобити гръбначни изкривявания
                        </p>
                        <p class="fs-5 mb-4">
                            Придобитите гръбначни изкривявания като “сколиоза”, “кифоза” и др. да се открива след 4- 5 годишна възраст, когато детето вече е проходило напълно самостоятелно и мускулатурата на гръбнака започва да укрепва.
                        </p>
                        <h2 class="fw-bolder mb-4 mt-5">Вродени гръбначни изкривявания</h2>
                        <p class="fs-5 mb-4">
                            Едно гръбначно изкривяване може да е вродено – детето се ражда с изкривяване и бива диагностицирано на момента или вторично – във всички останали случаи, когато изкривяването е придобито след раждането .
                            Всяко придобито изкривяване винаги започва от нарушаване в мускулното равновесие: мускулатурата се развива или натоварва несиметрично, в резултат на това се променя правилната костна структура или на кратко се получава функционална сколиоза.
                        </p>
                        <h2 class="fw-bolder mb-4 mt-5">Видове гръбначни изкривявания</h2>
                        <p class="fs-5 mb-4">Съществуват 3 основни вида гръбначни изкривявания: сколиоза, кифоза и лордоза.</p>
                        <p class="fs-5 mb-4">
                            	Сколиоза
                            Сколиозата е изкривяване на гръбначия стълб встрани. Това изкривяване може да е във вид на S (двойна кривина) или като дълго С (единична кривина). По често се засягат момичета. При сколизата гръбначният стълб има и промяна в структурата в ротиране (усукване). Това усукване води до промяна на позицията на ребрата и деформация на гръдния кош.

                            Причините за сколиозата все още не са изяснени. Изкривяването се открива обикновено след десет годишна възраст, като се приема, че процесът е започнал в по-ранна възраст. Въпреки че повечето случаи на сколиоза се откриват в училищна възраст, процесът на изкривяване на гръбнака може да се наблюдава и по-рано.

                            При сколиозата се различават следните клинични типове:

                            1. Според развитието в дадена равнина – сколиози и кифосколиози;

                            2. Според посоката на изкривяването – леви и десни;

                            3. Според фазата на изкривяването – активни, активно-пасивни и пасивни;

                            4. Според степента на изкривяването:

                            Първа степен – изкривяване с малко странично отклонение, лека контрактура, липса на промени във формата на прешлените. В изкривяването – липса на компенсаторна крива или компенсаторното изкривяване е слабо изразено.
                            Втора степен – изкривяване със средно странично отклонение, оформена контрактура, незначителна деформация на прешлените и поддаващо се на корекция компенсаторно изкривяване.
                            Трета степен – изкривяване и гърбица с голямо странично отклонение, силна контрактура, значителна деформация в прешлените на основното изкривяване. Частично поддаваща се на корекция или неподатливи компенсаторни криви.
                        </p>
                        <p class="fs-5 mb-4">
                            	Кифоза
                            Кифозата представлява анормално изкривяване на гръбначния стълб (изгърбване). То включва обикновено гръдните прешлени и се среща най-често при възрастните хора, особено при жените и децата.
                        </p>
                        <p class="fs-5 mb-4">
                            	Лордоза
                            Лордозата се характеризира с прекомерно издаване, “хлътване” на лумбалните прешлени. Състоянието на лордоза може да се влоши и поради слаби коремни мускули.
                        </p>
                        <h2 class="fw-bolder mb-4 mt-5">Причините за появата им са:</h2>
                        <p class="fs-5 mb-4">
                            	Неправилна стойка.

                            	Слаба мускулатура на тялото, поява на мускулен дисбаланс между гръбна и коремна мускулатура основно:

                            	Неправилно натоварване при спортни занимания.

                            	Костни и нервно-мускулни заболявания.

                            	Вродени деформации на структурата на прешлените и др.

                            Лечение:
                            	-Боуен терапия

                            	-рехабилитация / изправителна гимнастика/

                            	-операционно лечение

                            	Корсетолечение
                        </p>
                        <p class="fs-5 mb-4">
                            Симптоми на гръбначните изкривявания при децата, за които да следим:
                            Ако забележите един или повече от тези симптоми, непременно се консултирайте със специалист. Колкото по-рано се диагностицира неправилната стойка, толкова по-лесно би могла да бъде коригирана:
                        </p>
                        <p class="fs-5 mb-4">
                            	Несиметричност на тялото по време на ходене или в изправено положение: Ако забележите, че детето ви има несиметрична позиция на раменете, бедрата или кръста, това може да бъде индикация за гръбначно изкривяване. Поставете го пред огледало и внимателно наблюдавайте позата му.
                            	Асиметрични лопатки: Внимателно погледнете лопатките на детето ви, докато стои с опуснати ръце. Ако едната лопатка изглежда повдигната или отместена спрямо другата, може да има проблем с гръбначния му стълб.
                            	Неравни бедра или рамена: Ако забележите значителни разлики в дължината на бедрата или рамената, това може да бъде признак за съществено гръбначно изкривяване.
                            	Промени в позата при сядане: Обърнете внимание на това как седи детето ви. Ако постоянно предпочита да седи наведено на една страна или с тялото повдигнато на една страна, е възможно да е налице гръбначно изкривяване.
                            	Болки в гърба или врата: Децата с гръбначни изкривявания често могат да изпитват болки в гърба или врата. Ако детето ви се оплаква от такива болки или проявява необичайна чувствителност в областта на гръбначния стълб, потърсете медицинска консултация.
                            	Неравен ханш или гърди: Ако забележите неравности в областта на ханша или гърдите на детето, това също би могло да е симптом за проблем с гръбначния му стълб.
                        </p>
                        <p class="fs-5 mb-4">Редовните проверки при педиатъра са от съществено значение за ранното откриване на проблеми с гръбначния стълб при децата. Педиатърът ще извърши основен преглед и ако се налага, ще отправи препоръка за специализиран преглед от ортопед или друг специалист.</p>
                    </section>
                </article>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>